<div class="dx-fieldset">
    <div class="dx-field">
        <dx-select-box
        #selectBox
        [dataSource]="dataSourceList" 
        placeholder="Wybierz słownik"
        (onValueChanged)="onValueChanged($event)"
        ></dx-select-box>
    </div>
    <div class="current-value">
        
        {{selectBox.value}}
        <!-- trzeba przekazać te dane do componentu i zamienić na tablicę -->
    </div>
    <!-- pobierz dane z select boxa i je wyświetl w app.component -->
    <div [hidden]="!selectBox.value">
        
        <br />
        <!-- todo - pobierz odpowiedni słownik, który był wybrany z select boxa wcześniej -->
        <dx-data-grid [dataSource]="dataSource[0].entries"></dx-data-grid>
    </div>
</div>